.root {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  min-block-size: 100%;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 8px;
  background: var(--globalColorsFoundationWhite);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 24px;
  max-width: 400px;

  font-family: var(--font-family-default);
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-default);
  line-height: var(--line-height-default);
}

.root p {
  margin-bottom: 24px;
}

.heading {
  font-size: var(--heading-size-default);
  font-weight: var(--heading-weight-default);
  text-transform: var(--text-transform-default);
}

.root input::placeholder {
  font-weight: var(--heading-weight-default);
  text-transform: var(--text-transform-default);
}

.root input[type="text"],
.root input[type="email"],
.root input[type="password"] {
  display: block;
  width: 100%;
  border-radius: 0;
  overflow: hidden;
  border: 1px solid var(--border-color-default);
  padding: 5px 10px;
}

.root input[type="text"]:focus-visible,
.root input[type="email"]:focus-visible,
.root input[type="password"]:focus-visible {
  outline: 1px solid var(--colorsBrandSecondaryBrandS400);
  background: var(--colorsFoundationWhite);
  box-shadow: 0px 0px 10px 0px rgba(16, 72, 108, 0.4);
}

.button-container {
  text-align: right;
}

.root button {
  text-align: center;
  text-align: center;
  font-weight: 500;
  line-height: 36px;
  padding: 0 50px;
  font-size: var(--font-size-default);
  border: 1px solid var(--globalColorsFoundationBrandPrimary);
  border-radius: var(--border-radius-default);
  color: var(--color-default);
  background-color: var(--background-color-default);
  text-transform: var(--text-transform-default);
}
