html {
  block-size: 100%;
  -webkit-text-size-adjust: none;
  accent-color: var(--colorsBrandPrimaryBrandP600);
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  min-block-size: 100%;
  font-family: var(--font-family-default);
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-default);
  line-height: var(--line-height-default);
}

button {
  background-color: transparent;
  font-size: var(--font-size-default);
  line-height: var(--line-height-default);
  font-weight: 400;
}
