@font-face {
  font-family: "Founders Grotesk";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/founders_grotesk/founders-grotesk-web-regular.woff2")
      format("woff2"),
    url("../assets/fonts/founders_grotesk/founders-grotesk-web-regular.woff")
      format("woff");
}
@font-face {
  font-family: "Founders Grotesk";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../assets/fonts/founders_grotesk/founders-grotesk-web-semibold.woff2")
      format("woff2"),
    url("../assets/fonts/founders_grotesk/founders-grotesk-web-semibold.woff")
      format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../assets/fonts/Montserrat/static/Montserrat-Thin.ttf")
    format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("../assets/fonts/Montserrat/static/Montserrat-ThinItalic.ttf")
    format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../assets/fonts/Montserrat/static/Montserrat-ExtraLight.ttf")
    format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("../assets/fonts/Montserrat/static/Montserrat-ExtraLightItalic.ttf")
    format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../assets/fonts/Montserrat/static/Montserrat-Light.ttf")
    format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("../assets/fonts/Montserrat/static/Montserrat-LightItalic.ttf")
    format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/Montserrat/static/Montserrat-Regular.ttf")
    format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/Montserrat/static/Montserrat-Italic.ttf")
    format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../assets/fonts/Montserrat/static/Montserrat-Medium.ttf")
    format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../assets/fonts/Montserrat/static/Montserrat-MediumItalic.ttf")
    format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../assets/fonts/Montserrat/static/Montserrat-SemiBold.ttf")
    format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("../assets/fonts/Montserrat/static/Montserrat-SemiBoldItalic.ttf")
    format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../assets/fonts/Montserrat/static/Montserrat-ExtraBold.ttf")
    format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("../assets/fonts/Montserrat/static/Montserrat-ExtraBoldItalic.ttf")
    format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../assets/fonts/Montserrat/static/Montserrat-Black.ttf")
    format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("../assets/fonts/Montserrat/static/Montserrat-BlackItalic.ttf")
    format("woff2");
}
